
@{
    ViewData["Title"] = "Добавить сериал";
}

@model SeriesSite.Web.Models.SerialRegistrationViewModel

<h1>Добавить сериал</h1>

<form asp-action="AddSerial" asp-controller="Home" asp-anti-forgery="true">

    <div class="input">
        <label asp-for="Name">
            Название:
            <input type="text" asp-for="Name" />
        </label>
    </div>

    <div class="checkbox">
        <label asp-for="GenreOptions">
            Роль:
            <div class="checkbox">
                @for (var i = 0; i < Model.GenreOptions.Count; i++)
                {
                    <label asp-for="GenreOptions[i].IsSelected">
                        <input type="checkbox" asp-for="GenreOptions[i].IsSelected"> @Model.GenreOptions[i].Name
                        <input type="text" asp-for="GenreOptions[i].Name" value="@Model.GenreOptions[i].Name" hidden />
                    </label>
                }
            </div>
        </label>
    </div>

    <div class="input">
        <label>
            Страна:
            <select asp-for="SelectedCountryId">
                <option selected="selected">Выберите страну</option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            </select>
        </label>
    </div>

    <div class="ml-120 mb-20 danger" asp-validation-summary="All">
    </div>

    <button type="submit" class="ml-120">Добавить</button>
</form>